/* @import url("http://fonts.cdnfonts.com/css/gt-walsheim"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

html,
body {
  background-color: #181818;
  color: rgb(226, 232, 240);
  /* font-family: "Outfit", sans-serif; */
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
}

.rgb-text {
  color: transparent;
  background-image: linear-gradient(
    to left,
    #2ecc71,
    #3498db,
    #9b59b6,
    #f39c12
  );
  -webkit-background-clip: text;
  animation: animate 8s linear infinite;
  background-size: 500%;
}

@keyframes animate {
  0% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 0;
  }
  0% {
    background-position: 0 100%;
  }
}

.bg-smoothly-move {
  background-image: url("../public/image/dark-bg.jpeg");
  background-position: 0px 0px;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x repeat-y;
  animation: 20s linear 3s infinite alternate mymove;
}

@keyframes mymove {
  0% {
    background-position: 0 0;
  }

  20% {
    background-position: top 30% right 20%;
  }

  40% {
    background-position: top 70% right 30%;
  }

  60% {
    background-position: bottom 10% left 30%;
  }

  80% {
    background-position: bottom 40% left 20%;
  }

  100% {
    background-position: top 10% left 50%;
  }
}

@layer base {
  h1 {
    @apply text-5xl sm:text-6xl md:text-7xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
